/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.main-content {
  height: 30vw;
}
.logo {
  padding-top: 2.5rem;
}

.col1 {
  background-color: blue;
}

.col3 {
  background-color: yellow;
}

.col4 {
  background-color: pink;
}

.col5 {
  background-color: pink;
}

.col6 {
  background-color: pink;
}

.col7 {
  background-color: pink;
}

.main-container {
  background-color: aqua;
  display: flex;
  width: 70vw;
  justify-content: space-around;
  align-items: center;
}

.first-row {
  margin-top: 5rem;
  height: 10vw;
}

.nav-bar {
  height: 7rem;
}

.card.chat-box-element {
  width: 100%;
  height: 100%;
}
.ui.items > .item > .image > img {
  width: 50%;
}

.ui.items > .item > .content > .header:not(.ui) {
  font-size: 0.95rem;
}

.ui.items > .item > .content p:last-child {
  margin-top: -10px;
}

.ui.items > .item > .image + .content {
  margin-left: -3em;
}

.content.group-name {
  flex-grow: 0 !important;
}

.content.chat-content {
  flex-grow: 3;
}

.ui.input.send-message {
  width: 100%;
}
.ui.placeholder.segment {
  width: 100%;
}

.chat-content {
  overflow: auto;
}

.ui.negative.message .header {
  text-align: center;
}
